{% load staticfiles %}
{% load i18n %}
<html>
	<head>
	    <title>{% trans 'Simple Blog'%}</title>

	    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	    
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

		<link rel="stylesheet" href="{% static 'css/blog.css' %}">

		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	
		<link href="//fonts.googleapis.com/css?family=Monda:300,300italic,400,400italic,700,700italic|Roboto Slab:300,300italic,400,400italic,700,700italic|Lobster Two:300,300italic,400,400italic,700,700italic|PT Mono:300,300italic,400,400italic,700,700italic&subset=latin,latin-ext" rel="stylesheet" type="text/css">
		<link href="/lib/font-awesome/css/font-awesome.min.css?v=4.6.2" rel="stylesheet" type="text/css" />
	</head>




	<body>

		<div class="page-header">
			{% if user.is_authenticated %}
	            <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
	            <a href="{% url 'post_draft_list' %}" class="top-menu"><span class="glyphicon glyphicon-edit"></span></a>
	            <p class="top-menu"> 
		            {% trans 'Hello'%} {{ user.username }} 
		            <small>&nbsp;&nbsp;
			            <a href="{% url 'logout' %}" class = "top-menu">
			            	<span class="glyphicon glyphicon-log-out"></span>
			            </a>
		            </small>
	            </p>
	        {% else %}
	            <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-log-in"></span></a>
	        {% endif %}
			
		    <h1><a href="/">{% trans 'Simple Blog'%}</a></h1>
		</div>

		<div class = "content">
			<div class = "row">
				<div class = "col-md-8">
					 {% block content %}
            		 {% endblock %}
	    		</div>
	    	</div>
	    </div>
	</body>



</html>